body {
  overflow-x: hidden;
}

#main {
  position: absolute;
  top: 51px;
  left: 80px;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 10px;
}

.navbar .nav>li>a {
  padding: 0 13px;
  line-height: 50px;
}
